@use '../custom' as *;
@use '../components/mixins' as *;

.feature-section {

    background-image: url(../../assets/images/blue_ellipse.svg);
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right 11% top 0;
    padding-bottom: $feature-section-padding-bottom;

    @include media-breakpoint-up(md) {
        margin-top: $feature-section-margin-top;
    }

    .feature-heading {

        margin-bottom: $feature-heading-margin-bottom;
    }
}