@use '../custom' as *;

.hero-section {

    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/Sun.svg);    
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: $hero-margin-bottom;
    margin-top: $hero-margin-top-xsm;
    text-align: center;

    @include media-breakpoint-up(md) {
        margin-top: $hero-margin-top-md;
        text-align: left;
    }

    .hero-cta {

        margin-top: $hero-cta-margin-top;
        margin-bottom: $hero-cta-margin-bottom;
    }

    .app-img {
        
        width: 350px;
    }
}