@use '../custom' as *;

.menu {

    background-color: $white;
    margin-bottom: $navbar-margin-bottom;
    height: $navbar-height;

    .navbar-brand {
        font-family: $brand-font-family;
        font-weight: $brand-font-weight;
        line-height: $brand-line-height;
        color: $brand-color;
        margin-right: 66px;
    }

    .navbar-nav {

        width: $navbar-menu-width;
        max-width: $navbar-menu-max-width;
        justify-content: space-between;

        .nav-link {
            color: $gray-900;
        }
    }

    li {
        padding: 0 0.7rem;

    }
}